/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: linear-gradient(
    to right,
    #122f39 10%,
    #2f565a 60%,
    #122f39 90%
  );
}

.assigning-info {
  border-radius: 20%;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(
    to right,
    #6c9e36,
    #699f36
  );
}


.budgets_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.budgets_item-title {
  margin-bottom: 10px;
}

.budgets_item-title a {
  color: white;
  text-decoration: none;
}

.budgets_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  color: #ffc73c;
}

.budgets_item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ffc73c;
  padding: 5px;
  border-radius: 10%;
  background-color: #495f4c;
  justify-content: center;
  text-decoration: none;
  color: #ffc73c;
  margin-bottom: 5px;
}

.budgets_item-button {
  border-radius: 5px;
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: white;
}

.budgets_item-create {
  text-decoration: none;
  color: #ffc73c;
}

.assign_form {
  display: flex;
  flex-direction: column;
}

.assign_form-buttons {
  margin: 5px;
  display: flex;
  justify-content:space-between;
}

.accounts {
  display: flex;
  flex-direction: row;
}

.accounts_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px, solid;
  border-radius: 8px;
  border-color: green;
  margin: 5px;
}
