/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: linear-gradient(
    to right,
    #122f39 10%,
    #2f565a 60%,
    #122f39 90%
  );
}

.assigning-info {
  border-radius: 20%;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(
    to right,
    #6c9e36,
    #699f36
  );
}


.budgets_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.budgets_item-title {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.budgets_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

.budgets_item-sum {
  color: #ffc73c;
}

.budgets_item-needed_sum {
  color: #6e7c82;
  font-size: 14px;
}

.budgets_item-body {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffc73c;
  padding: 5px;
  border-radius: 10%;
  background-color: #495f4c;
  justify-content: center;
  text-decoration: none;
  color: #ffc73c;
  margin-bottom: 5px;
}

.budgets_item-button {
  border-radius: 5px;
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: white;
  background-color: #495f4c;
}

.budgets_item-create {
  text-decoration: none;
  color: #ffc73c;
}

.operation_form {
  margin: 5px 0 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffc73c;
  border-radius: 8px;
  background-color: #495f4c;
  justify-content: center;
  text-decoration: none;
  color: #ffc73c;
  align-items: center;
}

.operation_form-body {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 10px;
}
.operation_form-title {
  color: white;
}
.operation_form-budget_name {
  color: #ffc73c;
}

.operation_form-actions {
  margin: 5px 0;
  display: flex;
  justify-content:space-between;
}


.operation_form-button {
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid green;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: #495f4c;
}
.operation_form-field {
  height: 25px;
  border-radius: 10px;
}

.accounts {
  display: flex;
  flex-direction: row;
}

.accounts_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px, solid;
  border-radius: 8px;
  border-color: green;
  margin: 5px;
}

.expenses {
  padding: 0;
  margin: 0;
}
.expenses_item {
  list-style: none;
  border: 1px solid #987829;
  padding: 8px;
  border-radius: 8px;
  background-color: #5e4848;
  color: #ffc73c;
  margin-bottom: 7px;
}
.expenses_item-date {
  color: white;
  margin-bottom: 5px;
}

.expenses_item-body {
  display: flex;
  justify-content: space-between;

}
.form_container {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
}
